<launch>
  <node name="imu_9250_node"  pkg="imu"  type="imu_9250_node" output="screen">
     <param name="port"         type="string" value="/dev/ttyUSB0"/>  
     <param name="baudrate"     type="int"    value="115200"/> 
 <!-- 
 <remap from="imu" to="imu_link" />
-->  
  </node>

  <node pkg="tf" type="static_transform_publisher" name="laser_to_base_imu" args="0.0 0.0 0.0 0.0 0.0 0.0  /base_link /imu_link 80" />
   
</launch>
